.App {
  text-align: center;
  
}
* {
  box-sizing: border-box;
}

body {
  /* padding-top: 60px; 높이만큼 상단 여백 추가 */

  /* overflow: hidden; 스크롤바 숨김 */

  margin: 0;
  font-family: "Lato", sans-serif;
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #333;
  color: white;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  margin: 20px;
}

footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  position: relative;
  width: 100%;
  bottom: 0;
}
